/* font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    border: 0;
    transition: 0.5s ease-in-out;
    color: rgba(var(--font-color));
}
:root{
	--main-color:177, 178, 255;
	--secondary-color:#AAC4FF;
	--soft-color:#D2DAFF;
	--white:#EEF1FF;
    --font-color:grey;
}

body{
    position: relative;
}

nav{
	position: fixed;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 0;
	background: linear-gradient(45deg,transparent,rgba(243, 215, 250, 0.6),rgba(var(--main-color),1));
	padding: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
}
nav img{
	width: 15px;
	opacity: 45%;
}
nav .searchBox{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
	float: left;
}
nav .searchBox input[type=text],button{
	height: 35px;
	border: 0;
	padding: 5px;
}
nav .searchBox button{
	z-index: 1001;
	width: 35px;
	background:linear-gradient(45deg,rgba(var(--main-color),0.3),rgba(var(--main-color),0.5));	
	border-radius: 50%;
	}
nav .searchBox input[type=text]{
	z-index: 1000;
	width: 0px;
	background-color: var(--white);
	transform: translateX(-20px);
	padding:0;
	border-radius: 0 30px 30px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
nav .searchBox:hover input[type=text]{
	width: 200px;
	padding: 0 25px;
	transform: translateX(-20px);
}
nav input[type=text]:focus{
	width: 200px;
	padding: 0 25px;
	transform: translateX(-20px);
}
nav .searchBox:hover button img{
	transform: rotate(-360deg);
}
nav .searchBox input[type=text]:focus{
	outline: 10px var(--main-color);
}

nav a{
	text-decoration: none;
	margin: 0 10px;
	color: rgba(32, 32, 49, 0.5);
	padding: 5px 10px;
	border-radius: 20px;
	font-weight: bold;
}
nav .active{
	padding: 5px 10px;
	background:linear-gradient(-45deg,#eef1ff76,#eef1ff6a);	
	box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
}
nav a:hover{
	padding: 5px 10px;
	background:linear-gradient(-45deg,#eef1ff76,#eef1ff6a);	
	box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
}
.links{
	display: flex;
	justify-content: center;
}
.hamburger{
	display: none;
	z-index: 1003;
	width: 30px;
	height: 30px;
	justify-content: center;
	align-items: center;
	background-color: #ffffff95;
	border-radius: 5px;
}
.hamburger img{
	width: 25px;
}
#hamburger{
	display: none;
	z-index: 1005;
	width: 30px;
	height: 30px;
	opacity: 0;
}
.mail{
	position: relative;
}
.mailBox{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	top: 120%;
	right: -200%;
	width: 250px;
	min-height: 100px;
	background-color: #809ee495;
	border-radius: 10px;
	padding: 15px 0;
	filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
	transform: scaleY(0) rotatez(-90deg);
	transform-origin: top;
}
.mails{
	width: 90%;
	min-height: 50px;
	border: 2px solid rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	margin: 10px 0;
	background-color: #D2DAFF;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mails:hover{
	transform: scale(1.05);
}
.counter{
	position: absolute;
	background-color: #EEF1FF80;
	padding: 3px;
	font-size: 0.7em;
	border-radius: 10px;
	top: -10px;
	left: 80%;
	border: 1px solid #EEF1FF;
}
.mails .profile{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid white;
	overflow: hidden;
	margin: 3px;
}
.profile img{
	width: 35px;
}
.mails p{
	width: 80%;
	padding: 0 3px;
	font-size: 0.7em;
}
.mail:focus .mailBox{
	transform: scaleY(1) rotatez(0deg);
}
